@import '../../../../scss/utils/mixin';

.buttonWrapper {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.radio {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #efefef;
  @include mq(desktop) {
    width: 28px;
    height: 28px;
  }
  &:hover,
  &:focus {
    cursor: pointer;
  }
}
.text {
  font-size: 14px;
}
.checked {
  border-color: #efefef;
  color: var(--accent-btn-cl);
  background-color: var(--accent-btn-cl);
  &:hover,
  &:focus {
    cursor: pointer;
  }
}
