@import '../../scss/utils/mixin';

.container {
  height: 100%;
  position: relative;
}

.imgWrapper {
  overflow: hidden;
  width: 100%;
}
.btnWrapper {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  @include mq(tablet) {
    bottom: 24px;
  }
}
.btn {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #000;
  &:not(:first-child) {
    margin-left: 8px;
  }
  &:hover,
  &:focus {
    cursor: pointer;
  }
  @include mq(tablet) {
    width: 24px;
    height: 24px;
  }
}
.activeBnt {
  @extend .btn;
  background-color: var(--accent-btn-cl);
}
