@import '../../../scss/utils/mixin';

.wrapper {
  color: #fff;
  background-image: url(../../../../public/images/aboutUs.jpg);
  background-position: center;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 73px;
  @include mq(tablet) {
    padding-top: 210px;
  }
  @include mq(desktop) {
    padding-top: 286px;
  }
}
.textWrapper {
  text-align: left;
  @include mq(tablet) {
    padding: 0;
    width: 555px;
  }
}
.heading {
  font-size: 16px;
  font-weight: 700;
  @include mq(tablet) {
    font-size: 36px;
  }
  @include mq(desktop) {
    font-size: 48px;
  }
}

.text {
  font-size: 14px;
  margin-top: 10px;
  @include mq(tablet) {
    font-size: 16px;
  }
}

.textList__item {
  margin-top: 20px;
}

.textList__heading {
  font-size: 16px;
  @include mq(tablet) {
    font-size: 36px;
  }
}
.textList__text {
  margin-top: 10px;
  font-size: 14px;
  @include mq(tablet) {
    font-size: 16px;
  }
}
