@import '../../../scss/utils/mixin';
.footer {
  background-color: #003049;
  color: #fff;
  padding-top: 26px;
  padding-bottom: 26px;
  margin-top: 50px;
  @include mq(tablet) {
    // margin-top: 100px;
  }
}
.footerWrapper {
  @include mq(tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.logo {
  width: 168px;
  font-weight: 700;
  color: #fcbf49;
  letter-spacing: 3px;
  font-size: 24px;
  transition: all ease-in-out 300ms;
  &:hover,
  &:focus {
    cursor: pointer;
    transform: scale(1.05);
  }
}
.list {
  margin-top: 20px;
  @include mq(tablet) {
    margin-top: 0;
  }
}
.list__items {
  &:first-child {
    font-size: 18px;
  }
  font-size: 14px;

  &:not(:first-child) {
    margin-top: 8px;
  }
  font-weight: 600;
}
// .iconList {
//   display: flex;
//   align-items: center;

//   @include mq(desktop) {
//   }
// }
// .iconList__item {
//   &:not(:first-child) {
//     margin-left: 10px;
//   }

//   @include mq(tablet) {
//     &:first-child {
//       margin-left: 48px;
//     }
//   }

//   @include mq(desktop) {
//     &:first-child {
//       margin-left: 120px;
//     }
//   }
// }
