:root {
  /* ACCENT COLORS */
  --accent-bnt-cl: #FCBF49;
  --main-text-cl: #000000;
  --form-btn-bg:#003049;
  // #EFEFEF
  // #FFFFFF
  // #EAE2B7
  // #F77F00
  // #D62828
  // #003049
  /* BACKGROUND COLORS */
  // --bg-cl: #354147;
}
