:root {
  /* ACCENT COLORS */
  --accent-btn-cl: #FCBF49;
  --main-text-cl: #000000;
  --form-btn-bg:#003049;
  // #EFEFEF grey
  // #FFFFFF white
  // #EAE2B7 orange
  // #F77F00 hot orange
  // #D62828 red
  // #003049  blue
}
