@import "../../../scss/utils/mixin";
.imgWrapper {
  overflow: hidden;
  position: relative;
  height: 256px;
  object-fit: cover;
  //    height: auto;
  //    @include mq(tablet){
  //  height: 150px;
  //    }
  //    @include mq(desktop){
  //     height: 256px;
  //   }
}

.favBtn {
  width: 28px;
  height: 24px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border-color: transparent;
  background: url("../../../../public/icons/favorite.svg") no-repeat;
  &:hover,
  &:focus {
    background: url("../../../../public/icons/favoriteRed.svg") no-repeat;
  }
}
.textWrapper {
  // display: flex;
  // padding-top: 18px;
  padding-left: 23px;
  padding-right: 23px;
  padding-bottom: 54px;
}
.title {
  text-align: left;
  font-size: 14px;
  margin-top: 18px;

  @include mq(tablet) {
    font-size: 18px;
  }
}
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.textItem {
  margin-top: 8px;
  text-align: left;
}
.date {
  display: flex;
  align-items: center;
  &:before {
    margin-right: 10px;
    display: inline-block;
    content: "";
    background: url("../../../../public/icons/date.svg");
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.location {
  @extend .date;
  &:before {
    background: url("../../../../public/icons/location.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.time {
  @extend .date;
  &:before {
    background: url("../../../../public/icons/time.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
