@import "../../../scss/utils/mixin";
.imgWrapper {
  border-radius: 10px;
  overflow: hidden;
  width: 280px;
  max-height:256px;
  position: relative;
  @include mq(tablet) {
    width: 228px;
  }
  @include mq(desktop) {
    width: 400px;
  }
}

.favBtn {
  width: 28px;
  height: 24px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border-color: transparent;
  background: url("../../../../public/icons/favorite.svg") no-repeat;
  &:hover,
  &:focus {
    background: url("../../../../public/icons/favoriteRed.svg") no-repeat;
  }
}

.textItem,
.title {
  margin-top: 8px;
}
.date {
  display: flex;
  align-items: center;
  &:before {
    margin-right: 10px;
    display: inline-block;
    content: "";
    background: url("../../../../public/icons/date.svg");
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.location {
  @extend .date;
  &:before {
    background: url("../../../../public/icons/location.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.time {
  @extend .date;
  &:before {
    background: url("../../../../public/icons/time.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
