@import '../../../scss/utils/mixin';
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
}
.btn {
  display: block;
  border-color: transparent;
  background-color: transparent;
  @include mq(tablet) {
    display: none;
  }
}

.logo {
  font-weight: 700;
  line-height: 1;
  transition: all ease-in-out 300ms;
  margin-bottom: 10px;
  @include mq(tablet) {
    font-size: 16px;
    width: 168px;
  }
  @include mq(desktop) {
    font-size: 24px;
  }
  &:hover,
  &:focus {
    cursor: pointer;
    transform: scale(1.05);
  }
}

.categoryWrapper {
  display: none;
  @include mq(desktop) {
    display: flex;
    align-content: center;
    position: relative;
    margin-left: 20px;
  }
}

.location {
  display: none;
  @include mq(tablet) {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #ffffff;
    border-radius: 5px;
    padding: 8px 16px;
    border-color: transparent;
    background-color: var(--form-btn-bg);
    transition: all ease-in-out 300ms;
  }
  @include mq(desktop) {
    font-size: 16px;
  }
  &:before {
    margin-right: 16px;
    content: '';
    background: url('../../../../public/icons/location-white.svg');
    display: inline-block;
    width: 20px;
    height: 24px;
    stroke: #ffffff;
    background-repeat: no-repeat;
  }
  &:hover,
  &:focus {
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.28);
  }
}

.list__btn {
  font-size: 14px;
  padding: 0;
  background-color: transparent;
  border: transparent;
  transition: all ease-in-out 300ms;

  &:after {
    display: inline-block;
    content: '';
    background: url('../../../../public/icons/more.svg');
    margin-left: 10px;
    width: 8px;
    height: 14px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  @include mq(desktop) {
    font-size: 20px;
  }

  &:hover,
  &:focus {
    cursor: pointer;
    border-bottom: #f77f00 2px solid;
  }
}
.list__btnOpen {
  @extend .list__btn;
  &:after {
    display: inline-block;
    content: '';
    margin-left: 10px;
    width: 15px;
    height: 9px;
    background-size: contain;
    background-repeat: no-repeat;
    background: url('../../../../public/icons/openMore.svg');
  }
}

.activityList {
  width: 175px;
  position: absolute;
  padding: 8px;
  top: 50px;
  left: -8px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: #fff;
}
.activityList__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: transparent 2px solid;
  transition: all ease-in-out 300ms;
  &:hover,
  &:focus {
    cursor: pointer;
    border-bottom: #fcbf49 2px solid;
  }
  &:last-child {
    margin-top: 8px;
  }
}

.activityList__btn {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  background-color: transparent;
  border-color: transparent;
  font-size: 20px;
}

.button {
  display: none;
  @include mq(tablet) {
    background-color: var(--accent-btn-cl);
    font-size: 14px;
    padding: 5px 10px;
    display: block;
    text-align: center;
    border-radius: 5px;
    border-color: transparent;
    transition: all ease-in-out 300ms;
    margin-left: 16px;
  }
  @include mq(desktop) {
    font-size: 20px;
    margin-left: 25px;
    padding: 10px 32px;
  }

  &:hover,
  &:focus {
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.28);
    background-color: var(--form-btn-bg);
    color: #ffffff;
  }
}
.buttonAddActivity {
  position: absolute;
  top: 120px;
  left: 22px;
  background-color: var(--accent-btn-cl);
  font-size: 12px;
  padding: 13px 10px;
  display: block;
  border-radius: 5px;
  border-color: transparent;
  transition: all ease-in-out 300ms;
  @include mq(tablet) {
    display: none;
  }
  &:hover,
  &:focus {
    cursor: pointer;
  }
}
.openBtn {
  background-color: transparent;
  border-color: transparent;
  @include mq(tablet) {
    display: none;
  }
}
.closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border-color: transparent;
  @include mq(tablet) {
    display: none;
  }
}

.btnList {
  display: none;
  position: absolute;
  top: 59px;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px 20px;
  background-color: rgba($color: #003049, $alpha: 0.9);
  @include mq(tablet) {
    position: static;
    height: auto;
    width: auto;
    background-color: transparent;
    display: flex;
    align-items: center;
  }
}
.btnListNav {
  position: absolute;
  top: 59px;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px 20px;
  background-color: rgba($color: #003049, $alpha: 0.9);
  @include mq(tablet) {
    display: none;
  }
}

.btnList__item {
  &:nth-child(2) {
    position: absolute;
    top: 13px;
    right: 20px;
  }
  &:not(:first-child) {
    margin-top: 10px;
  }
  @include mq(tablet) {
    &:first-child {
      display: none;
    }
    &:nth-child(2) {
      margin-left: 16px;
      position: static;
    }
    &:not(:first-child) {
      margin-left: 10px;
      margin-top: 0;
    }
  }
  @include mq(desktop) {
    &:first-child {
      margin-left: 25px;
    }
    &:not(:first-child) {
      margin-left: 16px;
    }
  }
  &:hover,
  &:focus {
    cursor: pointer;
  }
}
.locationNav {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 0;
  transition: all ease-in-out 300ms;
  &:before {
    margin-right: 8px;
    content: '';
    background: url('../../../../public/icons/location-white.svg');
    display: inline-block;
    width: 20px;
    height: 24px;
    stroke: #ffffff;
    background-repeat: no-repeat;
  }
  &:hover,
  &:focus {
    cursor: pointer;
  }
}
.btnList__btn {
  display: flex;
  align-items: center;
  padding: 0;
  background-color: transparent;
  border: none;
  transition: all ease-in-out 300ms;
  &:hover,
  &:focus {
    cursor: pointer;
  }
}
.btnList__icon {
  fill: #fff;
  transition: all ease-in-out 300ms;
  @include mq(tablet) {
    fill: #000;
  }
  &:hover,
  &:focus {
    fill: var(--accent-btn-cl);
  }
}

.btnList__text {
  color: #fff;
  margin-left: 8px;
  @include mq(tablet) {
    display: none;
  }
}
