@import "../../../scss/utils/mixin";
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
  @include mq(tablet) {
    // justify-content: center;
  }
}
.btn {
  display: block;
  border-color: transparent;
  background-color: transparent;
  @include mq(tablet) {
    display: none;
  }
}

.logo {
  font-weight: 700;
  line-height: 1;
  transition: all ease-in-out 300ms;
  @include mq(tablet) {
    font-size: 16px;
    width: 168px;
  }
  @include mq(desktop) {
    font-size: 24px;
  }
  &:hover,
  &:focus {
    cursor: pointer;
    transform: scale(1.05);
  }
}
.list {
  display: flex;
}
.list__dropdown {
  display: none;
  @include mq(tablet) {
    display: block;
    margin-left: 20px;
    border-bottom: transparent 2px solid;
    transition: all ease-in-out 300ms;
  }
  @include mq(desktop) {
    display: block;
    margin-left: 55px;
  }
  &:hover,
  &:focus {
    cursor: pointer;
    border-bottom: #f77f00 2px solid;
  }
}

.button {
  font-size: 14px;
  display: none;
  transition: all ease-in-out 300ms;
  @include mq(tablet) {
    display: block;
    margin-left: 16px;
    padding: 3px 20px;
    background-color: var(--accent-btn-cl);
    border-radius: 5px;
    border-color: transparent;
  }
  @include mq(desktop) {
    font-size: 18px;
    margin-left: 25px;
    padding: 10px 32px;
  }

  &:hover,
  &:focus {
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.28);
    background-color: var(--form-btn-bg);
    color: #ffffff;
  }
}
.inputWrapper {
  position: relative;
  transition: all ease-in-out 300ms;
  &:hover,
  &:focus {
    fill: #ffffff;
  }
}
.input {
  display: none;
  @include mq(tablet) {
    display: block;
    padding: 10px 25px 10px 5px;
    margin-left: 16px;
    border-radius: 5px;
    background-color: #efefef;
    border-color:transparent;
    transition: all ease-in-out 300ms;
    outline:none;
  }
  @include mq(desktop) {
    margin-left: 25px;
    padding: 12px 25px 12px 5px;
  }
  &:hover,
  &:focus {
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.28);
  }
  &::placeholder {
    color: #000000;
  }
}
.searchBtn {
  position: absolute;
  top: -8px;
  right: 0;
  padding: 0;
  background-color: transparent;
  border-color: transparent;
  @include mq(tablet) {
    top: 10px;
    right: 3px;
  }
}
.list__btn {
  font-size: 14px;
  padding: 0;
  border-color: transparent;
  background-color: transparent;
  transition: all ease-in-out 300ms;
  @include mq(desktop) {
    font-size: 18px;
  }
  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.btnList__item {
  @include mq(tablet) {
    &:first-child {
      margin-left: 16px;
    }
    &:not(:first-child) {
      margin-left: 10px;
    }
  }
  @include mq(desktop) {
    &:first-child {
      margin-left: 25px;
    }
    &:not(:first-child) {
      margin-left: 16px;
    }
  }
}

.btnList {
  display: none;
  @include mq(tablet) {
    display: flex;
    align-items: center;
  }
}
.btnList__btn {
  padding: 0;
  border-color: transparent;
  background-color: transparent;
  transition: all ease-in-out 300ms;
  &:hover,
  &:focus {
    cursor: pointer;
  }
}
.btnList__icon {
  transition: all ease-in-out 300ms;
  &:hover,
  &:focus {
    fill: var(--accent-btn-cl);
  }
}
