@import "../../scss/utils/mixin";
.container {
  width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  padding-left: 16px;
  padding-right: 16px;
  @include mq(tablet) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  @include mq(desktop) {
    width: 1280px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
