@import '../../../scss/utils/mixin';

.formWrapper {
  position: relative;
}
.input {
  position: absolute;
  top: 26px;
  right: 20px;
  display: block;
  width: 286px;
  padding: 10px 25px 10px 5px;
  border-radius: 5px;
  background-color: #efefef;
  border-color: transparent;
  transition: all ease-in-out 300ms;
  outline: none;
  @include mq(tablet) {
    position: static;
    width: 256px;
    margin-left: 16px;
  }
  @include mq(desktop) {
    font-size: 20px;
    margin-left: 25px;
    padding: 8px 25px 8px 5px;
  }
  &:hover,
  &:focus {
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.28);
  }
  &::placeholder {
    color: #000000;
  }
}

.searchBtn {
  position: absolute;
  top: 35px;
  right: 27px;
  padding: 0;
  background-color: transparent;
  border-color: transparent;
  @include mq(tablet) {
    top: 10px;
    right: 3px;
  }
}
