@import '../../../../scss/utils/mixin';
.wrapper{
  background-color: rgba($color: #003049, $alpha: 0.9);
  width: 100%;
  min-height: 100vh;
  padding: 16px;
  @include mq(tablet){
    display: flex;
  margin-top: 16px; 
  padding: 0;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  }
 
}
.profileContainer {
  // background-color: rgba($color: #003049, $alpha: 0.9);
  // width: 100%;
  // min-height: 100vh;
  // padding-top: 50px;
  padding: 17px;
  @include mq(tablet){
    // background-color: #fff;
    // padding-top: 0;

  }
}
.closeBtn {
  background-color: transparent;
  border-color: transparent;
  fill: #fff;
  padding: 0;
  stroke: #fff;
  &:hover,
  &:focus {
    cursor: pointer;
  }
  @include mq(tablet){
   display: none;
  }
}
.btnBack{
  display: none;
  @include mq(tablet){
    display: flex;
    margin-top: 0;
   }
}
.heading {
  color: #fff;
  font-size: 24px;
  margin-top: 8px;
  @include mq(tablet){
    color: #000;
    // margin-top: 16px;
    margin-top: 0;

  }
}

.navigationList {
  background-color: #fff;
  margin-top: 10px;
  // color: #fff;
  color: #000;
  @include mq(tablet){
    // color: #000;
  width: 256px;
  margin-top: 32px;
  }
}

.navigationList__item {
  padding: 10px 16px;
  border-bottom: 1px solid #efefef;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:after {
    display: inline-block;
    content: '';
    background: url('../../../../../public/icons/moreAccent.svg');
    width: 10px;
    height: 9px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: auto;
    
  }
}
.navBtn{
  background-color: transparent;
  border-color: transparent;
}
.logoutBtn {
  display: flex;
  align-items: center;
  padding: 0;
  background-color: transparent;
  border: none;
  transition: all ease-in-out 300ms;
  // fill: #fff;
  // color: #fff;

  @include mq(tablet) {
    fill: #000;
    color: #000;
  }
  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.btn__text {
  margin-left: 8px;
}
