@import '../../../scss/utils/mixin';

.btn{
    background-color: var(--accent-bnt-cl);
    padding: 10px 63px;
    font-size: 18px;
    border-radius: 5px;
    border-color: transparent;
    &:hover,&:focus{
        cursor: pointer;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
}