@import '../../scss/utils/mixin';
.profilePageEWrapper {
}
.contactInfo {
  display: none;
  @include mq(tablet) {
    display: block;
  }
}
.btn {
  display: none;
  @include mq(tablet) {
    display: flex;
  }
}
