@import "../../../scss/utils/mixin";

.mainSection {
  margin-top: 45px;
  text-align: center;
  @include mq(tablet) {
    margin-top: 99px;
  }
}
.heading {
  font-size: 24px;
  text-align: center;
  @include mq(tablet) {
    font-size: 36px;
  }
}

.productList {
  margin-top: 40px;
  margin-bottom: 18px;
  @include mq(tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-left: 0;
    margin-right: 0;
  }
  @include mq(desktop) {
    grid-template-columns: repeat(3, 1fr);
  }
}
.productList__item {
  width: 280px;
  height: auto;
  box-shadow: 0 1px 20px 0 rgba(0, 19, 29, 0.25);
  border-radius: 12px;
  overflow: hidden;
  &:not(:first-child) {
    margin-top: 24px;
  }
  @include mq(tablet) {
    width: 342px;
    &:not(:first-child) {
      margin-top: 0;
    }
  }
}
.listWrapper {
  display: flex;
  justify-content: center;
}

.btn {
  display: none;
  @include mq(desktop) {
    display: inline-block;
    padding: 0;
    background-color: transparent;
    border-color: transparent;
    transition: all ease-in-out 300ms;
  }
  &:hover,
  &:focus {
    cursor: pointer;
    background-color: #efefef;
  }
}

.icon {
  @include mq(desktop) {
    width: 56px;
  }
}
