@import "../../../scss/utils/mixin";

.mainSection {
  margin-top: 45px;
  text-align: center;
  @include mq(tablet) {
    margin-top: 99px;
  }
}
.heading {
  font-size: 24px;
  text-align: center;
  @include mq(tablet) {
    font-size: 36px;
  }
}
.icon {
  @include mq(desktop) {
    width: 56px;
  }
}
.productList {
  margin-top: 40px;
  margin-bottom: 18px;
  margin-left: 12px;
  margin-right: 12px;

  @include mq(tablet) {
    display: flex;
    justify-content: center;
  }
  @include mq(desktop) {
    margin-left: 16px;
    margin-right: 16px;
  }
}
.productList__item {
  width: 280px;
  height: auto;
  border: 10px;
  box-shadow: 0 1px 20px 0 rgba(0, 19, 29, 0.25);
  border-radius: 12px;
  overflow: hidden;
  &:not(:first-child) {
    margin-top: 24px;
  }
  @include mq(tablet) {
    width: 228px;
    &:not(:first-child) {
      margin-top: 0;
      margin-left: 16px;
    }
  }

  @include mq(desktop) {
    width: 342px;
    // height: 256px;
  }
}
.listWrapper {
  display: flex;
  align-items: center;
}

.btn {
  padding: 0;
  background-color: transparent;
  border-color: transparent;
  transition: all ease-in-out 300ms;
  height: 110px;
  &:hover,
  &:focus {
    cursor: pointer;
    background-color: #efefef;
  }
}
