@import "../../../scss/utils/mixin";
.formContainer {
  margin: 20px auto 0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
  @include mq(tablet) {
    padding: 73px 16px;
    width: 592px;
  }
}
.btn {
  margin-top: 127px;
  display: flex;
  font-size: 20px;
  align-items: center;
  background-color: transparent;
  border-color: transparent;
  transition: all ease-in-out 300ms;
  width: 95px;
  &:before {
    margin-right: 10px;
    display: inline-block;
    content: "";
    background: url("../../../../public/icons/back.svg");
    width: 26px;
    height: 26px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &:hover,
  &:focus {
    cursor: pointer;
    border-bottom: 2px solid #f77f00;
  }
}
.btnWrapper {
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  @include mq(tablet) {
    font-size: 24px;
  }
  @include mq(desktop) {
    font-size: 36px;
  }
}
.headingBtn,
.spanBtn {
  background-color: transparent;
  border-color: transparent;
  color: #b4b4b4;
  padding: 16px 18px;
}

.active {
  color: var(--form-btn-bg);
  border-bottom: 2px solid #f77f00;
}
.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 40px;
}
.form__wrapper {
  position: relative;
  &:not(:first-child) {
    margin-top: 18px;
  }
}
.form__label {
  font-size: 16px;
  @include mq(tablet) {
    font-size: 20px;
  }
}
.form__input {
  margin-top: 8px;
  width: 100%;
  padding: 10px;
  background-color: #d9d9d9;
  border-color: transparent;
  border-radius: 5px;
}
.form__btnIcon {
  position: absolute;
  top: 37px;
  right: 2px;
  background-color: transparent;
  border-color: transparent;
}
.form__icon {
  &:hover,
  &:focus {
    cursor: pointer;
    fill: #f77f00;
  }
}
.form__btn {
  padding-top: 23px;
  padding-bottom: 23px;
  color: #fff;
  background-color: var(--form-btn-bg);
  border-radius: 5px;
  margin-top: 63px;
  font-size: 16px;
  font-weight: 700;
  @include mq(tablet) {
    font-size: 24px;
  }
  &:hover,
  &:focus {
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
}
.info {
  font-size: 14px;
  display: inline-block;
  margin-top: 22px;
}

.info__accent {
  color: #f77f00;
}
