@import '../../../scss/utils/mixin';

.categoryWrapper {
  text-align: left;
  @include mq(desktop) {
    position: relative;
    margin-left: 18px;
  }
}

.btn {
  margin-top: 10px;
  color: #fff;
  font-size: 14px;
  background-color: transparent;
  border: transparent;
  transition: all ease-in-out 300ms;
  width: 100%;
  padding: 0;
  text-align: left;
  &::before {
    display: inline-block;
    content: '';
    background: url('../../../../public/icons/activities.svg');
    margin-right: 8px;
    width: 16px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  &:after {
    display: inline-block;
    content: '';
    background: url('../../../../public/icons/more.svg');
    width: 10px;
    height: 9px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  @include mq(desktop) {
    display: flex;
    padding: 10px 8px;
    color: #000;
    margin-top: 0;
    justify-content: space-between;
    align-items: center;
    width: 175px;
    font-size: 20px;
    &::before {
      content: none;
    }
  }
}

.btnOpen {
  @extend .btn;
  @include mq(desktop) {
    &:after {
      display: inline-block;
      content: '';
      background: url('../../../../public/icons/menu.svg');
      width: 10px;
      height: 9px;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

.activityList {
  @include mq(desktop) {
    width: 175px;
    position: absolute;
    padding: 8px;
    top: 35px;
    left: 0;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: #fff;
  }
}
.activityList__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: transparent 2px solid;
  transition: all ease-in-out 300ms;
  margin-top: 8px;
  &:after {
    display: inline-block;
    content: '';
    background: url('../../../../public/icons/more.svg');
    color: #fcbf49;
    width: 10px;
    height: 9px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &:hover,
  &:focus {
    cursor: pointer;
    border-bottom: #fcbf49 2px solid;
  }
  @include mq(desktop) {
    &:first-child {
      margin-top: 0;
    }
  }
}

.activityList__btn {
  font-size: 14px;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 0;
  background-color: transparent;
  border: none;

  &::before {
    display: inline-block;
    content: '';
    background: url('../../../../public/icons/activities.svg');
    margin-right: 8px;
    width: 16px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  @include mq(desktop) {
    font-size: 20px;
    &::before {
      content: none;
    }
    color: #000;
    text-align: left;
  }
}
