@import '../../../../scss/utils/mixin';
.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 40px;
}
.passwordField {
  position: relative;
  margin-top: 18px;
}
.form__btnIcon {
  position: absolute;
  top: 37px;
  right: 2px;
  background-color: transparent;
  border-color: transparent;
}
.form__icon {
  &:hover,
  &:focus {
    cursor: pointer;
    fill: #f77f00;
  }
}

.form__btn {
  padding-top: 23px;
  padding-bottom: 23px;
  color: #fff;
  background-color: var(--form-btn-bg);
  border-radius: 5px;
  margin-top: 63px;
  font-size: 16px;
  font-weight: 700;
  @include mq(tablet) {
    font-size: 24px;
  }
  &:hover,
  &:focus {
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
}
.form__btnDisabled{
  @extend .form__btn;
  background-color: #EFEFEF;
  &:hover,
  &:focus {
    cursor:default;
    box-shadow: none;
  }
}
.error {
  color: #d62828;
}
