@import '../../../../scss/utils/mixin';

.formContainer {
    margin: 20px auto;
    border-radius: 10px;
   
    @include mq(tablet) {
      padding: 73px 16px;
      width: 592px; 
      box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
    }
  }
  .btnWrapper {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    @include mq(tablet) {
      font-weight: 700;
      font-size: 24px;
    }
    @include mq(desktop) {
      font-size: 36px;
    }
  }
  .headingBtn,
  .spanBtn {
    background-color: transparent;
    border-color: transparent;
    color: #b4b4b4;
    padding: 16px 18px;
  }
  
  .active {
    color: var(--form-btn-bg);
    border-bottom: 2px solid #f77f00;
  }
  .info {
    font-size: 14px;
    display: inline-block;
    margin-top: 8px;
    @include mq(tablet){
       margin-top: 22px;
    }
   
  }
  .info__accent {
    color: #f77f00;
  }